flask==3.0.0
flask-cors==4.0.0
flask-sqlalchemy==3.0.5
python-dotenv==1.0.0
requests==2.31.0
stripe==7.4.0
google-cloud-analytics-data==0.18.0
google-auth-oauthlib==1.1.0
python-email-validator==2.0.0
gunicorn==21.2.0